<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kikaboni.project.repository.ReplyRepository">

	<insert id="insert">
		insert into good_reply(rno, bno, reply, replyer)
		values(seq_rno1.nextval, #{bno}, #{reply}, #{replyer}) 
	</insert>

	<select id="read" resultType="ReplyVO">
		select * from good_reply where rno = #{rno}
	</select>
	
	<update id="update">
		update good_reply set reply = #{reply}, updateDate=sysdate where rno = #{rno}
	</update>
	
	<delete id="delete">
		delete from good_reply where rno = #{rno}
	</delete>
	
	<select id="getList" resultType="ReplyVO">
		
		<![CDATA[
		 select * from
		(select /*+INDEX_DESC(good_reply pk_goodreply)*/
		    ROWNUM as rn, bno, rno, reply, replyer, replyDate, updateDate
		from good_reply where bno = #{bno} and rownum <= #{criteria.maxRow})
		where rn > #{criteria.minRow}
		]]>
		
	</select>
	
	<select id="getReplyCount" resultType="int">
		select count(rno) from good_reply where bno = #{bno}
	</select>
	
	
	<resultMap type="ReplyVO" id="ReplyMap">
	    <id property="board_id" column="board_id"/>
	    <result property="bno" column="bno"/>
	    <result property="rno" column="rno"/>
	    <result property="reply" column="reply"/>
	    <collection property="myReplyList" resultMap="kindreplyMap"></collection>
	</resultMap>
	
	<resultMap type="BoardKindVO" id="kindreplyMap">
		<result property="board_id" column="board_id"/>
		<result property="board_name" column="board_name"/>
		<result property="board_content" column="board_content"/>
		<result property="bno" column="bno"/>
	</resultMap>

	<!-- 마이페이지에 내가 쓴 글 -->
	<select id="myReplyList" resultMap="ReplyMap">
		select r.bno, rno, reply, m.board_name from good_reply r
		left outer join kind_board m on r.board_id = m.board_id order by bno asc
	</select>
	
</mapper>